<a href="https://colab.research.google.com/github/ydvpankaj99/DataSets/blob/master/06_PySparkDataSets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.master("local[1]").appName("abc.com").getOrCreate()

In [ ]:
df = spark.createDataFrame(
    [("Scala", 25000), ("Spark", 35000), ("PHP", 21000)])
df.show()

+-----+-----+
|   _1|   _2|
+-----+-----+
|Scala|25000|
|Spark|35000|
|  PHP|21000|
+-----+-----+

In [ ]:
help(spark)

In [ ]:
dir(spark)
#Display Internal Record = DIR

In [ ]:
help(spark.sql)

In [ ]:
strTempViewName="sample_tempView"
df.createOrReplaceTempView(strTempViewName)
sqlQuery="select * from "+strTempViewName
df2=spark.sql(sqlQuery)
df2.show()

In [ ]:
spark.table(strTempViewName).write.mode("overwrite").saveAsTable("tvto_hive_table")
df3=spark.sql("select _1,_2 from tvto_hive_table")
df3.show()

+-----+-----+
|   _1|   _2|
+-----+-----+
|Scala|25000|
|Spark|35000|
|  PHP|21000|
+-----+-----+

In [ ]:
dbs=spark.catalog.listDatabases()
tbls=spark.catalog.listTables()
print(dbs)
print(tbls)

[Database(name='default', description='default database', locationUri='file:/content/spark-warehouse')]
[Table(name='tvto_hive_table', database='default', description=None, tableType='MANAGED', isTemporary=False), Table(name='sample_tempview', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]